<html>

<head>
    <script>
        function validateForm() {
            var base = document.forms["reset"]["password"].value;
            var check = document.forms["reset"]["check"].value;
            if (base != check) {
                document.getElementsByClassName("errorMessage")[0].style.visibility = "visible";
                document.getElementsByClassName("errorMessage")[0].innerHTML = "Passwords do not match. Ensure both passwords entered match each other.";
                return false;
            } else {
                return true;
            }
        }
    </script>
</head>

<body>
    <h1>New Source</h1>

    <h2>Reset Password</h2>

    <form name="reset" action="{{.Src}}/api/v1/users/{{.UserId}}/password-reset/{{.Key}}" method="post"
        onsubmit="return validateForm()">
        <label for="password">New Password:</label><br>
        <input type="password" id="password" name="password" required minlength="6"><br><br>
        <label for="confirm">Confirm Password:</label><br>
        <input type="password" name="check" required minlength="6"><br><br>
        <input type="submit" value="Submit">
    </form>
    <p class="errorMessage top-arrow"> </p>



    {{.Footer}}
</body>

</html>