<html>

<head>
    <style>
        body {
            margin: 0 auto;
            font-family: Helvetica, Arial, sans-serif;
            text-align: left;
            padding: 1em;
        }
    </style>
</head>

<body>
    <h1>New Source</h1>

    <h2>Password Reset Failed</h2>

    Unfortunately an unknown error occurred while trying to resetting your
    password. Please try again later.

    <footer>
        <br>
        Customer Support: <a href="https://.com/support/"></a>
        <br>
        Privacy Policy: <a href="https://.com/privacy-policy/"></a>
    </footer>
</body>

</html>